a {
    color: rgb(255, 255, 255);
}

#card {
    border: 3px solid rgb(255, 255, 255);
}

#desc {
    border-top: 1px solid white;
}

img {
    width: 50%;
    display:block;
    margin:auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

h5, p {
    color: white;
}

div {
    background-color: #000000 ;
    width: 90%;
    margin: auto;
}