<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr><th>Pieza</th></tr>
        </thead>
        <tbody>
        <tr><td>
            <div class="form-group">
            <input #patron type="text" class="form-control"
                    id="pieza" placeholder="Nombre de la pieza" (keyup)="cambiosPatron(patron.value)">
            </div>
        </td></tr>
        </tbody>
    </table>
    <table id="fabFilters" class="table table-striped">
        <thead class="thead-dark">
        <tr><th>Categorias</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="catList">Elige una categoria</label>
                        <select #idCat class="form-control" id="catList" (change)="cambioCategoria(idCat.value)">
                            <option value="0">(Elige una categoria)</option>
                            <!-- RELLENAR CON UN LISTADO DE TODOS LOS FABRICANTES -->
                            <option *ngFor="let categoria of categorias"
                                    value="{{categoria.id}}" [categoria]="categoria">
                                    {{categoria.nombre}}
                            </option>
                            
                        </select>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="borrarFiltros()" class="btn btn-primary" id="resetFilters">Borrar filtros</button>
</div>